* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  background: #2980b9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #6dd5fa,
    #2980b9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffffff,
    #6dd5fa,
    #2980b9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.quotes-card .quotes-content {
  background-color: white;
  max-width: 600px;
  height: 250px;
  padding: 12px;
  text-align: center;
  border: 1px solid black;
  border-radius: 7px;
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.38);
}

.quotes-card .quotes-content p {
  margin-top: 80px;
}

.quotes-card .quotes-content h2 {
  margin-top: 12px;
}

.quotes-btn {
  text-align: center;
}

hr {
  color: black;
  margin-top: 12px;
}

.quotes-btn button {
  border: none;
  font-size: 1.5em;
  margin-top: 22px;
  background: black;
  color: white;
  padding: 12px;
  cursor: pointer;
  border-radius: 7px;
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.38);
}

.quotes-btn button:hover {
  background-color: white;
  color: black;
}
